<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">About this website</h1>
    <p class="lead">Educational purpose website for testing Ruby on Rails!</p>
    <img src=<%= asset_path('Ruby_On_Rails_Logo.svg.png')%> width="265" height="100" class="mr-5">
    <img src=<%= asset_path('Bootstrap_logo.svg.png')%> width="125" height="100">
    <hr class="my-4">
    <p>Created by Vladyslav Liubchyk</p>
  </div>
</div>
